extends ../layout

block content
    div(class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 text-center")
        form(class="form px-3 py-5 m-3 border shadow-sm rounded-lg")
            h3(class="mb-3 font-weight-normal") Please sign in

            label(for="inputEmail" class="sr-only") Email address
            input(type="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" required="" autofocus="")

            label(for="inputPassword" class="sr-only") Password
            input(type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required="")

            button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in